.button {
  background-color: skyblue;
  color: black;
  border: none;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
 height: 50px;
}
.button2{
    background-color: skyblue;
    color: black;
    border: none;
    padding-left: 10px;
    padding-right: 20px;
}

.map{
    height: 400px;
}
